# CSV to HTML
Using Pandas to import a CSV file to a DataFrame, then print that out as an HTML file.

In [1]:
# import dependencies
import os
import pandas as pd

# load the file into a new DataFrame
csv_DF = pd.read_csv("weatherpy_output.csv")

csv_DF.head()

,city_id,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,0,San-Pédro,100,CI,1667515067,89,4.7485,-6.6363,77.81,4.72
1,1,Spearfish,100,US,1667515067,53,44.4908,-103.8594,35.10,12.66
2,2,Namatanai,37,PG,1667515068,67,-3.6667,152.4333,85.28,1.23
3,3,Puerto Ayora,80,EC,1667515068,78,-0.7393,-90.3518,75.16,12.33
4,4,Punta Arenas,40,CL,1667515069,63,-53.1500,-70.9167,62.71,23.02

In [3]:
csv_to_html = csv_DF.to_html('tabledata.html', index=False, classes=['table', 'table-striped', 'table-hover'])